PORT=3001
WHATSAPP_PHONE_NUMBER_ID=your_meta_phone_number_id
WHATSAPP_ACCESS_TOKEN=your_meta_permanent_access_token
WHATSAPP_API_VERSION=v25.0
WHATSAPP_TEMPLATE_NAME=jaspers_market_order_confirmation_v1
WHATSAPP_TEMPLATE_LANGUAGE=en_US
WHATSAPP_USE_TEMPLATE=true
